<%if activity_users.blank?%>
  <p>There are no worked blocks to display during the times selected</p>
<%else%>
  <div class='row'>
    <div class="col">
      <%report_total_time = 0%>
      <%activity_users.each do |user, activities|%>
        <div class='card bg-light mb-3'>
          <div class='card-header py-1 px-2'>
            <div class='row'>
              <div class='col'><%=user.account.full_name%></div>
              <div class='col'><%=activities.count%> Activities</div>
            </div>
          </div>
          <div class='card-body py-1'>
            <%user_total_time = 0%>
            <%activities.each do |activity|%>
              <%user_total_time += (activity.start - activity.end).to_i.abs%>
              <div class='row'>
                <div class='col'><%=activity.name%></div>
                <div class='col'><%= link_to activity.guest_group.name, guest_group_path(activity.guest_group)%></div>
                <%#binding.pry%>
                <div class='col'><%=activity.start.strftime('%l:%M %p')%> - <%=activity.end.strftime('%l:%M %p')%></div>
                <div class='col'><%=Activity.time_diff((activity.start - activity.end).to_i.abs)%> hours</div>
              </div>
            <%end%>
          </div>
          <div class='card-footer py-1'>
            <div class='row'>
              <div class='col text-right'>
                Total Hours Worked: <%=Activity.time_diff(user_total_time)%>
              </div>
            </div>
          </div>
        </div>
        <%report_total_time += user_total_time%>
      <%end%>
    </div>
  </div>

  <div class='row'>
    <div class='col text-right'>
      Total Hours Worked for the Report: <%=Activity.time_diff(report_total_time)%>
    </div>
  </div>
<%end%>