<%= render "layouts/error_display", errors: camp.errors%>

<%= form_with(model: camp, local: true) do |form| %>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <%= form.label :name %>
                <%= form.text_field :name, class: "form-control" %>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <%= form.label :website %>
                <%= form.text_field :website, class: "form-control" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <%= form.label :phone_number %><br />
                <%= form.text_field :phone_number, class: "form-control" %>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <%= label_tag "User Email Address" %><br />
                <%= text_field_tag "user_email", nil, class: "form-control" %>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <%= form.submit "Save", class: "btn btn-success" %>
          <%= link_to 'Cancel', root_path, class: "btn btn-danger text-white" %>
        </div>
      </div>
    </div>
  </div>
<%end%>
<%content_for :bottom_script do%>
  <script>
    $(document).ready(function(){
      $("#camp_phone_number").mask('(000) 000-0000');
    });
  </script>
<%end%>
