<div class="row">
  <%=form_tag send_invite_camps_path, remote: true, class: "col" do%>
    <div class='form-group row align-items-center'>
      <div class='col-auto'>
        Add New Staff Member
      </div>
      <%=text_field_tag "invite_email", nil, placeholder: "Enter email", class: "form-control col-4 mr-5"%>
      <%=submit_tag "Send Invite", class: "btn btn-primary btn-sm btn-block col-2"%>
    </div>
  <%end%>
</div>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        Staff Members
      </div>
      <table class='table'>
        <%@camp_accounts.sort_by(&:last_name).each do |staff|%>
          <tr id="<%=staff.id.to_s%>_staff_listing">
            <td><%=staff.full_name%></td>
            <td><%=mail_to staff.user.email, "<i class='fas fa-envelope'></i> #{staff.user.email}".html_safe, class: 'btn btn-link btn-xs'%></td>
            <td><%=link_to "<i class='fas fa-phone-alt'></i> #{staff.phone_number}".html_safe, "tel:#{staff.phone_number}", class: 'btn btn-link btn-xs' unless staff.phone_number.blank?%></td>
            <td>
              <%= link_to remove_account_from_camp_camps_path(account: staff), method: :post, class: 'btn btn-xs btn-danger text-white mb-1', :remote => true do %>
                Remove
              <% end %>
            </td>
          </tr>
        <%end%>
      </table>
    </div>
  </div>
</div>

<div class="row mt-3" id='pending-staff'>
  <%=render 'display_pending_staff', pending: @camp_pending_accounts unless @camp_pending_accounts.blank?%>
</div>
