<%= render "layouts/error_display", errors: guest_group.errors%>

<%= form_with(model: guest_group, local: true) do |form| %>
  <div class="row">
    <div class="col-3">
      <div class="row">
        <div class="col-12">
          <h5>Group Info</h5>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <%= form.label :name %>
            <%= form.text_field :name, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= form.label :description %>
            <%= form.text_area :description, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= form.label :arrives %><br />
            <%= form.date_field :arrives, min: Date.today, :value => Date.today(), class: "form-control" %>
          </div>
          <div class="form-group">
            <%= form.label :leaves %>
            <%= form.date_field :leaves, min: Date.today, :value => Date.today()+1, class: "form-control" %>
          </div>
          <%=form.hidden_field :camp_id, value: current_user.camp_id%>
        </div>
      </div>
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col-12">
          <h5>Programs</h5>
        </div>
      </div>
      <div id="activities">
        <%=form.fields_for :activities do |activity|%>
          <%=render "activity_fields", f: activity%>
        <%end%>
        <div class='links'>
          <%=link_to_add_association 'Add Activity', form, :activities, class: "btn btn-primary text-white mt-2"%>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-right">
      <%= form.submit "Save Group and Activities", class: "btn btn-success" %>
      <%= link_to 'Cancel', root_path, class: "btn btn-danger text-white" %>
    </div>
  </div>
<% end %>
<%content_for :bottom_script do%>
  <script>
    $(document).ready(function(){
      $( "#guest_group_leaves_3i, #guest_group_leaves_1i" ).wrapAll( "<div  class='d-flex mb-3' />");
      $( "#guest_group_leaves_4i, #guest_group_leaves_5i" ).wrapAll( "<div  class='d-flex' />");
      $( "#guest_group_arrives_3i, #guest_group_arrives_1i" ).wrapAll( "<div  class='d-flex mb-3' />");
      $( "#guest_group_arrives_4i, #guest_group_arrives_5i" ).wrapAll( "<div  class='d-flex' />");
    });
  </script>
<%end%>
