<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%=@camp.name%></h5>
    <p class="card-text mb-0">
      <span class="oi oi-phone"></span> <%=@camp.phone_number%><br />
      <%=link_to @camp.website, @camp.website, class: "btn btn-link btn-sm pl-0"%>
    </p>
    <h6 class="card-title my-0">Admin Staff</h6>
    <p class="card-text">
      <%@camp_accounts.select{|a| a.user.camp_admin?}.each do |account|%>
        <%=account.full_name%>
        <%if account.id == current_user.account_id%>
          <%=link_to 'Edit', edit_account_path(account), class: "btn btn-info btn-xs ml-0 text-white mb-1"%>
        <%end%>
      <%end%>
    </p>
    <% if current_user.camp_admin? %>
      <%= link_to 'New Guest Group', new_guest_group_path, class: "btn btn-success btn-sm btn-block text-white"%>
      <button class="btn btn-primary btn-sm btn-block" onclick="$('#invite-field').show()">Invite Staff Member</button>
      <div class="form-group mt-3" id="invite-field" style="display: none;">
        <%=form_tag send_invite_camps_path, remote: true do%>
          <%=text_field_tag "invite_email", nil, placeholder: "Enter email", class: "form-control"%>
          <%=submit_tag "Send Invite", class: "btn btn-primary btn-sm btn-block mt-1"%>
        <%end%>
      </div>
      <button class="btn btn-secondary btn-sm btn-block mt-2">See Past Groups</button>
    <%else%>
      <%= link_to 'View All Upcoming Groups', root_path, class: "btn btn-primary btn-sm btn-block mt-2 text-white"%>
      <%= link_to 'View Current Work Schedule', schedules_your_work_schedule_path, class: "btn btn-primary btn-sm btn-block mt-2 text-white"%>
    <%end%>
  </div>
</div>

<div class="card mt-3">
  <div class="card-body">
    <h5 class="card-title">
      Staff
    </h5>
    <div id="camp-staff">
      <%=render "camps/display_staff", accounts: @camp_accounts, pending: @camp_pending_accounts%>
    </div>
  </div>
</div>
