<div class="row">
  <div class="col-12 d-block d-sm-none">
    <button class="btn btn-primary btn-sm btn-block text-white" onclick="$('.side-bar-wrapper').slideToggle();$('.view-text').toggle()"><span class="view-text">View</span><span class="view-text" style="display: none">Hide</span> Camp Info</button>
  </div>
  <div class="col-12">
    <div class="card d-sm-block side-bar-wrapper" style="display: none;">
      <div class="card-body">
        <h5 class="card-title"><%=@camp.name%></h5>
        <p class="card-text mb-0">
          <span class="oi oi-phone"></span> <%=@camp.phone_number%><br />
          <%=link_to @camp.website, @camp.website, class: "btn btn-link btn-sm pl-0"%>
        </p>
        <%=link_to 'Edit Camp', edit_camp_path(@camp), class: "btn btn-info btn-sm btn-block ml-0 mb-3 text-white" if (current_user.camp_admin? && current_user.camp == @camp) || current_user.master_admin?%>
        <h6 class="card-title my-0">Admin Staff</h6>
        <p class="card-text">
          <%@camp_accounts.select{|a| a.user.camp_admin? || a.user.master_admin?}.each do |account|%>
            <%=account.full_name%>
            <%if account.id == current_user.account_id%>
              <%=link_to 'Edit', edit_account_path(account), class: "btn btn-info btn-xs ml-0 text-white mb-1"%>
            <%end%>
          <%end%>
        </p>
        <% if !current_user.user? && current_user.camp == @camp%>
          <%= link_to 'New Guest Group', new_guest_group_path, class: "btn btn-success btn-sm btn-block text-white"%>
          <button class="btn btn-primary btn-sm btn-block" onclick="$('#invite-field').show()">Invite Staff Member</button>
          <div class="form-group mt-3" id="invite-field" style="display: none;">
            <%=form_tag send_invite_camps_path, remote: true do%>
              <%=text_field_tag "invite_email", nil, placeholder: "Enter email", class: "form-control"%>
              <%=submit_tag "Send Invite", class: "btn btn-primary btn-sm btn-block mt-1"%>
            <%end%>
          </div>
          <%if params['past'] != 'true'%>
            <%= link_to 'View Past Groups', root_path(past: true), class: "btn btn-secondary text-white btn-sm btn-block mt-2"%>
          <%else%>
            <%= link_to 'View Upcoming Groups', root_path, class: "btn btn-secondary text-white btn-sm btn-block mt-2"%>
          <%end%>
        <%else%>
          <%= link_to 'View Upcoming Groups', root_path, class: "btn btn-primary btn-sm btn-block mt-2 text-white"%>
          <%= link_to 'View Work Schedule', schedules_your_work_schedule_path, class: "btn btn-primary btn-sm btn-block mt-2 text-white"%>
        <%end%>
      </div>
    </div>

    <div class="card mt-3 d-sm-block side-bar-wrapper" style="display: none;">
      <div class="card-body">
        <h5 class="card-title">
          Staff
        </h5>
        <!--<div id="camp-staff">
          <%#=render "camps/display_staff", accounts: @camp_accounts, pending: @camp_pending_accounts%>
        </div>--
      </div>
    </div>
  </div>

  <div class="col-12 d-block d-sm-none">
    <%= link_to 'View All Upcoming Groups', root_path, class: "btn btn-primary btn-sm btn-block mt-2 text-white"%>
    <%=link_to 'View My Current Work Schedule', schedules_your_work_schedule_path, class: "btn btn-primary btn-sm btn-block mt-2 text-white"%>
  </div>
</div>
