<div class="row">
  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%=@camp.name%></h5>
        <p class="card-text">
          <span class="oi oi-phone"></span> <%=@camp.phone_number%><br />
          <%=link_to @camp.website, @camp.website, class: "btn btn-link btn-sm pl-0"%>
        </p>
        <%= link_to 'New Guest Group', new_guest_group_path, class: "btn btn-success btn-sm btn-block text-white" %>
        <%= link_to "Add Staff Member", new_registration_path(resource_name), class: "btn btn-primary btn-sm btn-block" %><br />
        <button class="btn btn-secondary btn-sm btn-block">See Past Groups</button>
      </div>
    </div>

    <div class="card mt-3">
      <div class="card-body">
        <h5 class="card-title">
          Staff
        </h5>
        <p class="card-text">
          <%@camp_accounts.each do |camp_acc|%>
            <%=camp_acc.full_name%>
            <%="(You)" if camp_acc.id = current_user.id%>
            <%= link_to 'Edit', edit_account_path(camp_acc), class: "btn btn-info btn-xs ml-0 text-white" if current_user.camp_admin? || camp_acc.id = current_user.id %>
          <%end%>
        </p>
      </div>
    </div>
  </div>
  <div class="col-9">
    <div class="row">
      <div class="col-12 d-flex justify-content-between">
        <h2 class="mb-0">Upcoming Guest Groups</h2>
        <%= link_to 'New Guest Group', new_guest_group_path, class: "btn btn-success text-white" %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
            <%if @guest_groups.empty?%>
              No Upcoming Guest Groups. Go and create one! <br />
              <%= link_to 'Add New Guest Group', new_guest_group_path, class: "btn btn-success text-white" %>
            <%else%>
              <%@guest_groups.each do |gg|%>
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="row justify-content-between">
                      <div class="col-auto d-flex">
                        <h5 class="card-title mr-3"><%=gg.name%></h5>
                      </div>
                      <div class="col-auto">
                        <h5 class="card-title"><%=gg.arrives.strftime("%a, %b %e")%> - <%=gg.leaves.strftime("%a, %b %e")%></h5>
                      </div>
                    </div>
                    <div class="row justify-content-between">
                      <div class="col">
                        <span class="text-muted"><%=gg.description%></span>
                      </div>
                    </div>
                    <div id="accordion" class="mt-3">
                      <div class="card">
                        <div class="card-header" id="headingOne">
                          <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              <%=gg.activities.count%> <%="Activity".pluralize(gg.activities.count)%> (Click to view)
                            </button>
                          </h5>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                          <div class="card-body">
                            <%gg.activities.each do |activity|%>
                              <div class="row">
                                <div class="col">
                                  <div class="text-muted">Activity</div>
                                  <%=activity.name%>
                                </div>
                                <div class="col">
                                  <div class="text-muted">Staff needed</div>
                                  <%=activity.staff_needed%>
                                </div>
                                <div class="col">
                                  <div class="text-muted">When</div>
                                  <%=activity.day.strftime("%a, %b %e") unless activity.day.nil?%> <%=activity.start.strftime("%l:%M")%> - <%=activity.end.strftime("%l:%M %P")%>
                                </div>
                              </div>
                            <%end%>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer text-right">
                    <%= link_to "Edit Group & #{'Activity'.pluralize(gg.activities.count)}", edit_guest_group_path(gg), class: "btn btn-sm btn-primary text-white" %>
                    <%= link_to "Delete Group & #{'Activity'.pluralize(gg.activities.count)}", gg, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger text-white" %>
                  </div>
                </div>
              <%end%>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
