<div class="row">
  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%=@camp.name%></h5>
        <p class="card-text">
          <span class="oi oi-phone"></span> <%=@camp.phone_number%><br />
          <%=link_to @camp.website, @camp.website%>
        </p>
      </div>
    </div>

    <div class="card mt-3">
      <div class="card-body">
        <h5 class="card-title">
          Staff
        </h5>
        <p class="card-text">
          <%@camp_accounts.each do |camp_acc|%>
            <%=camp_acc.full_name%>
            <%="(You)" if camp_acc.id = current_user.id%>
            <%= link_to 'Edit', edit_account_path(camp_acc) if current_user.camp_admin? || camp_acc.id = current_user.id %>
          <%end%>
        </p>
        <div class="btn btn-primary btn-sm btn-block">
          Add Staff Member
        </div>
      </div>
    </div>
  </div>
  <div class="col-9">
    <div class="row">
      <div class="col-12 d-flex justify-content-end">
        <%= link_to 'New Guest Group', new_guest_group_path, class: "btn btn-success" %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Upcoming Guest Groups</h5>
            <%if @guest_groups.empty?%>
              No Upcoming Guest Groups. Go and create one! <br />
              <%= link_to 'Add New Guest Group', new_guest_group_path, class: "btn btn-success" %>
            <%else%>
              <%@guest_groups.each do |gg|%>
                <div class="row">
                  <div class="col">
                    <%=gg.name%>
                  </div>
                  <div class="col">
                    <%=gg.description%>
                  </div>
                  <div class="col">
                    <%=gg.arrives%>
                  </div>
                  <div class="col">
                    <%=gg.leaves%>
                  </div>
                </div>
              <%end%>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
