<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey <%=@account.first_name%>!</h1>
    <p>
      Good news, you are on the schedule in the next two weeks! Take a look
      below just to confirm the times that we have for you to work. Please give
      us a call if you have any questions or need to talk about you schedule.
    </p>
    <ul>
      <%@activities.each do |activity|%>
        <li>
          <%=activity.day.strftime('%b %d')%> <%=activity.start.strftime('%l:%M')%> - <%=activity.end.strftime('%l:%M%P')%> - <%=activity.name%>
        </li>
      <%end%>
    </ul>
  </body>
</html>
