<div class="mb-3 border border-info rounded p-3">
  <div class="row">
    <div class="col col-md-9">
      <div class="row mb-1">
        <div class="col-md">
          <div class="text-muted" style="font-size: .9em; margin-bottom: -5px">Activity</div>
          <%=activity.name%><br />

          <div class="text-muted mt-2" style="font-size: .9em; margin-bottom: -5px">When</div>
          <%=activity.day.strftime("%a, %b %e") unless activity.day.nil?%> <%=activity.start.strftime("%l:%M")%> - <%=activity.end.strftime("%l:%M %P")%>

          <%if current_user.camp_admin? || current_user.master_admin?%>
            <div class="text-muted mt-2" style="font-size: .9em; margin-bottom: -5px">Total Staff needed</div>
            <%=activity.staff_needed%>
          <%end%>
        </div>
        <div class="col-md">
          <%if current_user.camp_admin? || current_user.master_admin?%>
            <div class="text-muted" style="font-size: .9em; margin-bottom: -5px">Staff working</div>
            <%activity.users.each do |user|%>
              <div class="mt-2" id="activity_<%=activity.id%>_user_<%=user.id%>">
                <%=user.account.name_with_initial%>
                <%= link_to remove_worker_activity_path(activity.id, user: user.id), method: :post, class: 'btn btn-xs btn-danger text-white ml-2', :remote => true do %>
                  Un-schedule
                <% end %>
              </div>
            <%end%>
          <%else%>
            <div class="text-muted" style="font-size: .9em; margin-bottom: -5px">Total Staff needed</div>
            <%=activity.staff_needed%><br />

            <div class="text-muted mt-2" style="font-size: .9em; margin-bottom: -5px">Staff <%=params['past'] != 'true' ? "working" : "worked"%></div>
            <div id="activity-<%=activity.id%>-workers">
              <%=render "activities/working_names", activity: activity%>
            </div>
          <%end%>
        </div>
      </div>
    </div>
    <div class="col-md-3 d-flex flex-column justify-content-center" id="activity-<%=activity.id%>">
      <%unless params['past'] == 'true'%>
        <%=render "activities/working_choices", activity: activity%>
      <%end%>
    </div>
  </div>
</div>
