<%unless current_user.nil?%>
  <nav class="d-print-none navbar navbar-light bg-light" style='position: sticky; top: 0; z-index: 10'><%#=link_to 'Edit Camp', edit_camp_path(@camp), class: "btn btn-info btn-sm btn-block ml-0 mb-3 text-white" if (current_user.camp_admin? && current_user.camp == @camp) || current_user.master_admin?%>
    <div class="d-md-none">
      <span onclick="openNav()"><i class="fas fa-bars fa-2x"></i></span>
      <!--<a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fas fa-bars fa-2x"></i></a>-->
    </div>
    <%if (current_user.camp_admin? && current_user.camp == @camp) || current_user.master_admin?%>
      <%= link_to "#{current_user.camp.name} <i class='fas fa-pencil-alt' style='display: none;'></i>".html_safe, edit_camp_path(current_user.camp_id), class: "navbar-brand btn btn-link"  if (current_user.camp_admin? && current_user.camp == @camp) || current_user.master_admin?%>
    <%else%>
      <div class='navbar-brand'><%=current_user.camp.name%></div>
    <%end%>
    <div class="btn-group text-right">
      <button type="button" class="btn btn-link dropdown-toggle d-flex align-items-center" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-user-circle fa-2x mr-1"></i> <%=current_user.account.nil? ? current_user.email : current_user.account.first_name%>
      </button>
      <div class="dropdown-menu dropdown-menu-right" style=" right: 0;left: auto;">
        <%= link_to 'Edit Account', edit_account_path(current_user.account), class: "btn btn-link btn-block text-right" unless current_user.account.nil?%>
        <%= link_to 'My Work Schedule', schedules_your_work_schedule_path, class: "btn btn-link btn-block text-right"%>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-link btn-block text-right" %>
      </div>
    </div>
  </nav>
<%end%>

<div id="mySidenav" class="d-print-none sidenav">
  <div class="row">
    <div class='col'>
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="fas fa-times fa-2x"></i></a>
      <%=render 'layouts/sidebar_options'%>
    </div>
  </div>
</div>