<%if current_user.master_admin?%>
  <div class="dropdown mr-auto mb-3">
    <button class="btn btn-secondary text-left btn-block dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Camps
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <%=link_to "View Camps", camps_path, class: "dropdown-item"%>
      <%=link_to "Add New Camp", new_camp_path, class: "nav-link btn btn-link"%>
    </div>
  </div>
<%end%>

<% if !current_user.user? && current_user.camp == @camp%>
  <%= link_to 'New Guest Group', new_guest_group_path, class: "btn btn-success btn-sm btn-block text-white"%>
  <%= link_to 'Staff Members', camp_staff_camp_path(@camp), class: "btn btn-primary btn-sm btn-block text-white"%>
  <%if params['past'] != 'true' && (params[:controller] == 'schedules' && params["action"] == 'index')%>
    <%= link_to 'Past Groups', root_path(past: true), class: "btn btn-secondary text-white btn-sm btn-block mt-2"%>
  <%else%>
    <%= link_to 'Upcoming Groups', root_path, class: "btn btn-secondary text-white btn-sm btn-block mt-2"%>
  <%end%>
<%else%>
  <%= link_to 'View Upcoming Groups', root_path, class: "btn btn-primary btn-sm btn-block mt-2 text-white"%>
  <%= link_to 'View Work Schedule', schedules_your_work_schedule_path, class: "btn btn-primary btn-sm btn-block mt-2 text-white"%>
<%end%>